<h2>{{ id ? 'Editar' : 'Crear' }} Tipo de Gasto</h2>
<form [formGroup]="form" (ngSubmit)="submit()">
    <mat-form-field appearance="fill">
        <mat-label>Nombre</mat-label>
        <input matInput formControlName="nombre" />
        <mat-error *ngIf="form.get('nombre')?.hasError('required')">Requerido</mat-error>
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit">{{ id ? 'Guardar' : 'Crear' }}</button>
    <button mat-button (click)="router.navigate(['tipo-gastos'])">Cancelar</button>
</form>